body{
    background-color: black;
    margin: 10%;
}

#icon{
    padding: 20px;
}

.container{
    width: 327px;
    height: 360px;
    border-radius: 15px;
    margin:auto ;
    background-color:#1B222C;

}
.container h1{
    color: white;
    font-family:overpass;
    font-size: 24px;
    font-weight: bold;
    line-height: auto;
    text-align: left;
}
.container p{
    color:lightgrey;
    line-height: 22px;
    font-size: 14px;
    text-align:left;
    letter-spacing: 0px;
    font-family:overpass;
}

.main{
    padding-left: 20px;
}

.btn{
    color: black;
    padding: 15px 15px;
    text-align: center;
    font-size: 16px;
    border-radius: 50%;
    letter-spacing: 0.5rem; 
    border: none;
    }
.btn:hover {
        color:orange;
}
.btn1{
    background-color:#979797;
    text-align: center;
}
.btn2{
    background-color:#979797;
    text-align: center;
}
.btn3{
    background-color:#979797;
    text-align: center;
}
.btn4{
    background-color:#979797;
    text-align: center;
}
.btn5{
    background-color:#979797;
    text-align: center;
}

 .submit{
    padding: 4px 20px;
    position: relative;
 }
 .btn-submit{
    background-color:orange;
    text-align: center;
    color:white;
    border-radius: 22.5px;
    line-height:auto;
    letter-spacing: 1.87px;
    font-weight:bold;
    font-size: 14px;
    width: 279px;
    height: 45px;
 
    }
   
    .image{
        width: 14px;
        height: 96px;
        padding:24px 92px;
      
    }
    .response{
        text-align: center;
        color: orange;
        font-family: overpass;
        font-size: 14px;
        padding-top: 24px;
    }
.main-content h1{
    text-align: center;
    line-height: 30px;
    font-weight: 700;
    font-size: 24px;
    }
.main-content p{
    font-size: 14px;
    line-height: 22px;
    font-style: normal;
    padding: 0% 12.8%;
}